<body class="d-flex h-100 text-center text-white bg-dark">

<form class="cd-flex w-100 h-100 p-3 flex-column" action="/answer" method="get">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

</body>

